#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


body {
  background-color: rgba(197, 137, 26, 0.726);
}

.envoltura {
  display: flex;
  flex-direction: column;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,0.6194852941176471) 40%, rgba(252,176,69,1) 86%);
}

.top {
  display: flex;
  flex-direction: row;
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  justify-content: space-around;
}

.calculadora {
  display: flex;
  flex-direction: column;
}

#calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 20px;
  text-align: center;
}

input {
  width: 50px;
  text-align: center;
}

img {
  width: 150px;
}

li {
  list-style: none;
}

.bottom {
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}